@font-face {
  font-family: "Red Hat Text";
  src: url("./assets/fonts/RedHatText-Bold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  /* Breakpoints */
  --mobile: 375px;
  --desktop: 1440px;

  /* Colors */
  --grayishBlue: hsl(237, 18%, 59%);
  --softRed: hsl(345, 95%, 68%);
  --customSoftRed: hsl(268, 22%, 15%);
  --darkDesaturatedBlue: hsl(236, 21%, 26%);
  --veryDarkBlue: hsl(235, 16%, 14%);
  --veryDarkBlackBlue: hsl(234, 17%, 12%);

  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
  font-weight: 700;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to bottom, var(--veryDarkBlackBlue) 10%, var(--customSoftRed));
}

h1, p {
  text-transform: uppercase;
}

svg * {
  cursor: pointer;
}

svg path {
  fill: var(--grayishBlue);
  transition: fill 0.2s ease-in-out;
}

svg:hover path {
  fill: var(--softRed);
}

#app {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#app::before,
#app::after {
  content: "";
  position: absolute;
  z-index: -1;
  user-select: none;
}

#app::before {
  inset: 0;
  background: url("./assets/images/bg-stars.svg") top center;
}

#app::after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 12rem;
  background: url("./assets/images/pattern-hills.svg") no-repeat top / cover;
  object-fit: contain;
}

@media (min-width: 1440px) {
  #app {
    max-width: calc(var(--desktop) / 1.125);
  }
}